@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels

@model RegisterViewModel

<h2>Create A New Account</h2>

@if(!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s):")
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user => user.Email)

  @Html.LabelFor(user => user.Password)
  @Html.EditorFor(user => user.Password)

  @Html.LabelFor(user => user.ConfirmPassword)
  @Html.EditorFor(user => user.ConfirmPassword)

  <input type="submit" value="Create Account">
}


<p>Already have an account @Html.ActionLink("Click Here to Log In", "Login")</p>
<p>Go back to the @Html.ActionLink("Home Page", "Index", "Home")</p>
