@{
  Layout = "_Layout";
}

@using PierresTreats.Models

<h2>Welcome To Pierres Treats</h2>

@if (User.Identity.IsAuthenticated) 
{
  <p>Logged In As : @User.Identity.Name</p>
}

<h3>Flavors</h3>
@if (Model[0].Length == 0)
  {
    <p>There aren't any flavors</p>
  }
  else 
  {
    foreach(Flavor flavor in Model[0])
    {
      <p>@Html.ActionLink(flavor.Name, "Details", "Flavors", new {id=flavor.FlavorId})</p>
    }
  }
  @if (User.Identity.IsAuthenticated)
  {
    <br>
    @Html.ActionLink("Add a new Flavor", "Create", "Flavors");
    <br>
  }

<h3>Treats</h3>
@if (Model[1].Length == 0)
{
  <p>There aren't any treats</p>
}
else 
{
  foreach(Treat treat in Model[1])
  {
    <p>@Html.ActionLink(treat.Name, "Details", "Treats", new {id=treat.TreatId})</p>
  }
}
@if (User.Identity.IsAuthenticated)
{
  <br>
  @Html.ActionLink("Add a new Treat", "Create", "Treats");
  <br>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit">Log Out</button>
  }
}
else 
{ 
  <h3>Account</h3>
  <br>
  <p>@Html.ActionLink("Log In", "Login", "Account") to your account to make changes</p>

  <p>Don't have an account? @Html.ActionLink("Create A New Account", "Register", "Account")</p>
}

