@{
  Layout = "_Layout";
}

@using PierresTreats.Models

<h2>Welcome To Pierres Treats</h2>

@if (User.Identity.IsAuthenticated) 
{
  <p>Logged In As : @User.Identity.Name</p>
  @if (Model[0].Length == 0)
  {
    <p>There aren't any flavors</p>
  }
  else 
  {
    foreach(Flavor flavor in Model[0])
    {
      <p>@Html.ActionLink(flavor.Name, "Details", "Flavors", new {id=flavor.FlavorId})</p>
    }
  }
  <br>
  @Html.ActionLink("Add a new Flavor", "Create", "Flavors");
  <br>

  @if (Model[1].Length == 0)
  {
    <p>There aren't any treats</p>
  }
  else 
  {
    foreach(Treat treat in Model[1])
    {
      <p>@Html.ActionLink(treat.Name, "Details", "Treats", new {id=treat.TreatId})</p>
    }
  }
  <br>
  @Html.ActionLink("Add a new Treat", "Create", "Treats");
  <br>


  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit">Log Out</button>
  }
} 

else 
{ 
  <p>@Html.ActionLink("Log In", "Login", "Account") to view your account</p>

  <p>Don't have an account? @Html.ActionLink("Create A New Account", "Register", "Account")</p>

}

