@* @{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Flavor

<div class="card">    
  <h2 class="card-title">@Model.Name</h2>
  <div class="card-body">
    @if (Model.JoinEntities.Count == 0 && ViewBag.MachineCount > 0)
    {
      <p>Not Authorized To Work On Any Machines</p>
    }

    @if (Model.JoinEntities.Count > 0)
    {
      <h3>Authorized Machines</h3>

      @foreach(EngineerMachine join in Model.JoinEntities)
      {
        <div class="row" id="list">
          <div class="col-8">
            <p>@join.Machine.Name</p>
          </div>
          <div class="col-4">
            @using(Html.BeginForm("DeleteJoin", "Engineers"))
            {
              @Html.Hidden("joinId", join.EngineerMachineId)
              @Html.Hidden("eId", Model.EngineerId)            
              <input type="submit" value="X">
            }
          </div>
        </div>    
      }
    }

    @if (@ViewBag.ShowForm == false && ViewBag.ShowDelete == false) 
    {
      @if (ViewBag.MachineCount == 0)
      {
        <p>No machines have been added. You must add a machine before you can assign a machine to @Model.Name.</p>
      }
      @if (ViewBag.MachineCount > 0)
      {
        <button class="btn btn-light">@Html.ActionLink("Add A Machiine", "Details", new { id = Model.EngineerId, showForm = true, showDelete = false})</button>
      }  
      <br>
      <br>
      @Html.ActionLink($"Edit {Model.Name}'s Profile", "Edit", new {id = Model.EngineerId})
      <br>
      <br>

      <button id="remove" class="btn btn-danger">@Html.ActionLink($"Remove {@Model.Name}", "Details", new { id = Model.EngineerId, showForm = false, showDelete = true})</button>
    }

    @if (@ViewBag.ShowForm == true) 
    {
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.EngineerId)
        @Html.Label("Select Machine")
        @Html.DropDownList("MachineId")
        <button type="submit" class="btn btn-secondary">Add Machine</button>    
      }
      @Html.ActionLink("Cancel", "Details", new {id = Model.EngineerId, showForm = false, showDelete = false})
    }

    @if (@ViewBag.ShowDelete == true)
    {
      @using (Html.BeginForm("Delete", "Engineers"))
      {
        <p>Are you sure that you want to fire @Model.Name?</p>
        @Html.Hidden("id", Model.EngineerId)
        <button id="remove" type="submit" class="btn btn-danger">Remove @Model.Name</button>    
      }
      @Html.ActionLink($"Never mind, I don't want to fire {Model.Name}", "Details", new {id = Model.EngineerId, showForm = false, showDelete = false})
    }
  </div>
</div> *@
